@import "tailwindcss";

:root {
  --accent-yellow: #e09231;
  --accent-yellow-light: #eab371;
  --background: #ffefcc;
  --background-secondary: #d1b494;
  --background-secondary-light: #ede1d4;
  --color-green: #a4ab78;
  --color-green-dark: #424530;
  --color-white: #ffffff;
  --color-black: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
